<main role="main">

  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">Movies!</h1>
      <p class="lead text-muted">영화 평점 사이트!!</p>
      <p>
        <%= link_to "Board", posts_path, class: "btn btn-primary" %>
        <%= link_to "영화 추가하기", new_movie_path, class: "btn btn-secondary" if check_admin %>
      </p>
    </div>
  </section>

  <div class="album text-muted">
    <div class="container">
      <div class="row">
        <% @movies.each do |movie| %>
          <div class="card">
            <a href="/movies/<%= movie.id %>">
              <%= image_tag(movie.poster, height: "300", width: "360", alt: "포스트 없음") %>
            </a>
            <p class="card-text">
            <%= movie.title %> <br>
            <%= movie.avg == 0 ? "평가 없음" : movie.avg %> <br>
            <%= movie.genre %> <br>
            <%= movie.nation %> <br>
            <%= movie.director %> </p>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</main>
