<div class="container-fluid">
  <div class="row">
    <nav class="col-sm-3 col-md-2 d-none d-sm-block bg-light sidebar">
      <ul class="nav nav-pills flex-column">
        <li class="nav-item">
          <a class="nav-link" href="#">관리자 페이지</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin/users">유저관리</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin/posts">게시판관리</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/admin/reviews">리뷰관리<span class="sr-only">(current)</span></a>
        </li>
      </ul>
    </nav>

    <main role="main" class="col-sm-9 ml-sm-auto col-md-10 pt-3">
      <h1>관리자 페이지</h1>

      <h2>리뷰관리</h2>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>#</th>
              <th>영화 제목</th>
              <th>리뷰 내용</th>
              <th>평점</th>
              <th>작성자</th>
              <th>링크</th>
            </tr>
          </thead>
          <tbody>
            <% @reviews.each do |review|%>
              <tr>
                <td><%= review.id %></td>
                <td><%= review.movie.title %></td>
                <td><%= review.comment %></td>
                <td><%= review.rating %></td>
                <td><%= review.user.nickname %></td>
                <td>
                  <%= link_to "[삭제]", "/admin/reviews/#{review.id}", data: {method: :delete, confirm: "삭제하시겠습니까?"}, class: 'btn btn-primary' %>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </main>
  </div>
</div>
