<!DOCTYPE html>
<html>
<head>
  <title>BsTemplate</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    params[:controller], media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'shared/nav' %>
<%= yield %>
<%= render 'shared/footer' %>
<!-- 여기서 <%#= javascript_include_tag params[:controller], 'data-turbolinks-track' => true %> 해주면 각 페이지에서 해줬던거 안해줘도 돼-->
<%= yield :scripts %>
</body>
</html>
