<!DOCTYPE html>
<html>
<head>
  <title>AuthPractice</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= link_to '회원가입', new_user_registration_path %>
  <%= link_to '로그인', new_user_session_path %>
  <%= link_to '로그아웃', destroy_user_session_path, method: :delete %>
  <%= link_to 'Footprint', footprints_path %>
  <%= link_to 'Post', posts_path %>
<%= yield %>

</body>
</html>
