<!DOCTYPE html>
<html>
<head>
  <title>FakeInsta</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if session[:email] %>
    <p><%= session[:email] %> 님 환영합니다<p>
  <% end %>

  <% if session[:email] %>
    <a href="/logout">로그 아웃</a>
  <% else %>
      <a href="/signup">회원가입</a>
      <a href="/login">로그인 하기</a>
    <br>
  <% end %>

<%= yield %>

</body>
</html>
