<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>오늘의 다음웹툰입니다</title>
  </head>
  <body>
    <a href="/">홈으로</a>
    <table>
      <thead>
        <tr>
          <th>이미지</th>
          <th>제목</th>
          <th>소개</th>
          <th>평점</th>
          <th>링크</th>
        </tr>
      </thead>
      <tbody>
        <% @webtoons.each do |webtoon|%>
        <tr>
          <td><img width="100" height="100" src="<%= webtoon[:img_url] %>" alt="<%= webtoon[:title] %>"></td>
          <td align = "center"><%= webtoon[:title] %></td>
          <td><%= webtoon[:desc] %></td>
          <td><%= webtoon[:score].round(2) %></td>
          <td><a target="_blank" href="<%= webtoon[:url] %>">보러가기</a> </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </body>
</html>
