<header>
  <div class="collapse bg-dark" id="navbarHeader">
          <div class="container">
            <div class="row">
              <div class="col-sm-8 py-4">
                <h4 class="text-white">About</h4>
                <p class="text-muted">Add some information about the album below, the author, or any other background context. Make it a few sentences long so folks can pick up some informative tidbits. Then, link them off to some social networking sites or contact information.</p>
              </div>
              <div class="col-sm-4 py-4">
                <h4 class="text-white">Contact</h4>
                <ul class="list-unstyled">
                  <li><%= link_to "홈으로", root_path, class: "text-white" %></li>
                  <li><%= link_to "게시판", posts_path, class: "text-white" %></li>
                  <% if user_signed_in? %>
                    <li><%= link_to "로그아웃", destroy_user_session_path, method: :delete, class: "text-white" %></li>
                    <li class="text-white"><%= current_user.nickname %> </li>
                  <% else %>
                    <li><%= link_to "로그인", new_user_session_path, class: "text-white"%></li>
                    <li><%= link_to "회원가입", new_user_registration_path, class: "text-white"%></li>
                  <% end %>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="navbar navbar-dark bg-dark">
          <div class="container d-flex justify-content-between">
            <a href="/" class="navbar-brand">Movies</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          </div>
        </div>
</header>
