alert("댓글을 성공적으로 입력하였습니다");
// 5. 댓글을 보여주는 테이블에 추가해줌
// $('.comment-list').append(`
$('.comment-list').prepend(`
  <tr id="comment-<%= @comment.id %>">
    <td class="comment" data-id="<%= @comment.id %>"><%= @comment.contents %></td>
    <td><%= @comment.user.email %></td>
    <td></td>
    <td><button class="btn btn-outline-danger delete-comment" data-id=<%= @comment.id %>><i class="fas fa-trash-alt"></i>삭제</button></td>
  </tr>
`);
// 6. input 태그를 비워줌
$('#comment-input').val('');
// window.location.href = window.location.href
