<table class="table table-hover">
  <thead>
    <tr>
      <th>#</th>
      <th>Title</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @boards.each do |board| %>
      <tr hoho="<%= board.id %>">
        <td><%= board.id %></td>
        <td class="title" width="70%"><%= board.title %></td>
        <td><%= board.user.email %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '새글쓰기', new_board_path, class: 'btn btn-dark' %>
<a class='btn btn-warning' id='change-title'>제목바꾸기</a>
<a class='btn btn-danger color-btn' haha="text-danger">빨강</a>
<a class='btn btn-primary color-btn' haha="text-primary">파랑</a>
<a class='btn btn-warning color-btn' haha="text-warning">노랑</a>
<% content_for :script do %>

  <script src="linkto_show.js"></script>
  <script src="change_color.js"></script>
  <script src="change_title.js"></script>

<% end %>
