
<p>
  <strong>User:</strong>
  <%= @board.user.email %>
</p>

<p>
  <strong>Title:</strong>
  <%= @board.title %>
</p>

<p>
  <strong>Contents:</strong>
  <%= @board.contents %>
</p>

<% if @like.length > 0 %>
  <button type="button" class="btn btn-primary like" ><i class="far fa-thumbs-up fa-spin"></i>좋아요(<span id="like-count"><%= @board.likes.count %></span>)</button> |
<% else %>
  <button type="button" class="btn btn-outline-primary like" ><i class="far fa-thumbs-up fa-spin"></i>좋아요(<span id="like-count"><%= @board.likes.length %></span>)</button> |
<% end %>
<%= link_to '<i class="fas fa-home fa-spin"></i> 홈으로'.html_safe, boards_path, class: 'btn btn-success' %>
<% if user_signed_in? and @board.require_permission?(current_user) %>
   |<%= link_to '<i class="fas fa-pen-square fa-spin"></i> 수정'.html_safe, edit_board_path(@board), class: 'btn btn-warning' %> |
  <%= link_to '<i class="fas fa-trash-alt fa-spin"></i> 삭제'.html_safe, board_path(@board), class: 'btn btn-danger', data: {method: :delete, confirm: "삭제할거?"} %>
<% end %>
 | | | |<button class="btn btn-outline-danger delete"><i class="fas fa-trash-alt"></i>삭제 요청 js로 보내기</button>

<br><br>
<form class="form-inline my-2 my-lg-0" id="comment-form">
  <input class="form-control mr-sm-2" id="comment-input" type="text" placeholder="Comment">
  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">댓글쓰기</button>
</form><br>

<table class="table">
  <thead>
    <tr>
      <th>내용</th>
      <th>작성자</th>
      <th colspan="2"></th>
    </tr>
  </thead>
  <tbody class="comment-list">
  <% @board.comments.reverse.each do |comment| %>
  <tr>
    <td><%= comment.contents %></td>
    <td><%= comment.user.email %></td>
    <td>

      <button class="btn btn-outline-warning"><i class="fas fa-pen-square"></i>수정</button></td>
    <td><button class="btn btn-outline-danger delete-comment" data-id="<%= comment.id %>"><i class="fas fa-trash-alt"></i>삭제</button></td>
  </tr>
  <% end %>
  </tbody>
</table>

<% content_for :script do %>
<script>
  $(function(){
    // 1. 좋아요 버튼을 눌렀을때
    $('.like').on('click', function() {
    // 2. ajax를 이용해서 /board/:board_id/like 라는 url에 요청을 보냄
      $.ajax({
        url: '/boards/<%= @board.id %>/like',
        method: "GET"
      })
    })

    // 댓글기능
    // 1. form이 제출(submit)되면
    $('#comment-form').on('submit', function(e) {     // event의 e
    // 2. form의 기본 이벤트를 막아주고
      e.preventDefault();
    // 3. form 안의 input 태그에서 입력한 값을 가져온 다음
      var data = $('#comment-input').val();  //value랑 같은거야 val()
    // 4. 해당 값을 댓글을 등록하는 url로 보냄(ajax이용)
      $.ajax({
        url: '/boards/<%= @board.id %>/comments',
        method: "POST",
        data: {
          contents: data,
        }
      })
    })

    $('.delete').on('click', function() {
      $.ajax({
        url: "/boards/<%= @board.id %>.js",   //.js 해줘야해 json도 그럴듯
        method: "DELETE"
      })
    })

    //자바스크립트로 추가된 엘리먼트에 이벤트를 줄때는 파라메터에 3개를 주는
    //이벤트 리스너를 줘야한다. 감싸고 있는 부분의 돔트리를 리로드
    $('.comment-list').on('click', '.delete-comment', function() {
      var id = $(this).data('id');
      $.ajax({
        url: "/boards/<%= @board.id %>/comments/" + id,   //.js 해줘야해 json도 그럴듯
        method: "DELETE"
      })
    })

  })
</script>
<% end %>
